body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  color: white;
}

.header {
  text-align: center;
}

.header .heading{
    color: rgb(39, 151, 248);
}

.header .sub-heading{
    color: rgb(237, 146, 146);
}

h2{
    color: rgb(246, 213, 131);
}

.tiers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.free {
  margin: 40px;
  padding: 15px;
  border: 1px white solid;
  border-radius: 10px;
}

.premium {
  margin: 40px;
  padding: 15px;
  border: 1px white solid;
  border-radius: 10px;
}

.team{
  margin: 40px;
  padding: 15px;
  border: 1px white solid;
  border-radius: 10px;
}

.free ul{
    list-style: none;
}

.free li{
    margin: 10px;
}

.free li::before{
    content: "✅ "
}

.free button{
    background-color: #3aa6ff;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin: 10px;
}

.premium ul{
    list-style: none;
}

.premium li{
    margin: 10px;
}

.premium li::before{
    content: "✅ "
}

.premium button{
    background-color: #3aa6ff;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin: 10px;
}

.team ul{
    list-style: none;
}

.team li{
    margin: 10px;
}

.team li::before{
    content: "✅ "
}

.team button{
    background-color: #3aa6ff;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin: 10px;
}

body button:hover{
    background-color: #0b65b4;
    border: 1px white solid;
    cursor: pointer;
}